<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - {{ task.description }} - {% if task.completed %}Completed{% else %}Not Completed{% endif %}
        <a href="{% url 'update_task' task.id %}">Edit</a> | 
        <a href="{% url 'delete_task' task.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_task' %}">Add New Task</a>
</body>
</html>
      